<ion-tabs>

  <ion-tab-bar slot="bottom">

    <!-- Slides Page -->
    <ion-tab-button tab="slides">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Categorias Page -->
    <ion-tab-button tab="categorias">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <!-- Favoritos Page -->
    <ion-tab-button tab="favoritos">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
