<!-- Custom page header -->
<app-header></app-header>

<!-- Page content -->
<ion-content class="ion-padding">

  <!-- Todos los productos -->
  <app-carousel-prod *ngIf="todosProductos" [productos]='todosProductos' nomCateg='' autoplayInterval='3000'></app-carousel-prod>

  <!-- Productos mas vendidos -->
  <app-carousel-prod *ngIf="productosPopulares" [productos]='productosPopulares' nomCateg='Los más vendidos' autoplayInterval=''></app-carousel-prod>

  <!-- Productos mejor valorados -->
  <app-carousel-prod *ngIf="productosMejorValorados" [productos]='productosMejorValorados' nomCateg='Los mejor valorados' autoplayInterval=''></app-carousel-prod>

  <!-- Productos nuevos -->
  <app-carousel-prod *ngIf="productosNuevos" [productos]='productosNuevos' nomCateg='Los más nuevos' autoplayInterval=''></app-carousel-prod>

  <!-- Productos por menos de 10€ -->
  <app-carousel-prod *ngIf="productosBaratos" [productos]='productosBaratos' nomCateg='Menos de 10€' autoplayInterval=''></app-carousel-prod>
</ion-content>
